
#header {
   height: 80px;
   padding-top: 15px;
   padding-bottom: 5px;
   margin-bottom: 5px;
   background-color: #FFD700;

}

.navbar {
  width: 100%;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

#header-text {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
}

#calendar {
  margin-left: 20px;
  margin-right: 50px;
  float: left;
}

.table {
  width:inherit;
  width: 100%;
}

#courses {
  float: left;
}

.list-group-item a:hover {
  background-color: grey;
}

