<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../main.js"></script>
    <title>Forecast</title>

  </head>
  <body>
    <div class="container-fluid" id="header">
      <h1 class="display-4">Forecast</h1>
    </div>
    <div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">UNSW Degree Planner </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="index.html">Home</a>
            <a class="nav-item nav-link" href="about.html">About</a>
            <a class="nav-item nav-link active" href="courselist.html">Course List <span class="sr-only">(current)</span></a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
        <div class="container-fluid">
          <div class="col-sm-7" id="calendar">
             <h2>  BSci (Computer Science)  </h2>
             <h4> 2019 </h4>
             <br>
             <h3>Core</h3>
               <table class="table table-hover">
                    
                <thead>
                   <tr>
                     <th>1st Year Courses</th>
                     <th>2nd Year Courses</th>
                     <th>3rd Year Courses</th>
                     <th>4th Year Courses</th>
                   </tr>
                 </thead>
                    
                 <tbody>
                   <tr>
                     <td>COMP1511 - Programming Fundamentals</td>
                     <td>COMP2511 - Object-Oriented Design & Programming</td>
                     <td>COMP3121 - Algorithms and Programming Techniques</td>
                     <td>COMP4920 - Management and Ethics</td>
                   </tr>
                   <tr>
                     <td>COMP1521 - Computer System Fundamentals</td>
                     <td>COMP2521 - Data Structures and Algorithms</td>
                     <td>COMP3900 - Computer Science Project</td>
                     <td></td>
                   </tr>
                   <tr>
                     <td>COMP1531 Software Engineering Fundamentals</td>
                     <td></td>
                     <td></td>
                     <td></td>
                   </tr>
                   <tr>
                     <td>MATH1081 Discrete Mathematics</td>
                     <td></td>
                     <td></td>
                     <td></td>
                    </tr>
                    <tr>
                    <td>MATH1131 Mathematics 1A</td>
                     <td></td>
                     <td></td>
                     <td></td>
                    </tr>
                    <tr>
                     <td>MATH1231 Mathematics 1B</td>
                     <td></td>
                     <td></td>
                     <td></td>
                    </tr>
                 </tbody>
                </table> 
                 
                <br>
                 <br>
                 <table class="table table-hover">
                <thead>
                
                        <tr>
                          <th>Level 3 Electives</th>
                          <th>Level 4 Electives</th>
                          <th>Level 6 Electives</th>
                          <th>Level 9 Electives</th>
                        </tr>
                      </thead>
                         
                      <tbody>
                        <tr>
                          <td>COMP3121 - Algorithims and Programming Techniques</td>
                          <td>COMP4121 - Advanced and Parallel Algorithms</td>
                          <td>COMP6324 - Internet of Things Service Design and Engineering</td>
                          <td>COMP9242 - Advanced Operating Systems</td>
                        </tr>
                        <tr>
                          <td>COMP3131 - Programming Languages and Compilers</td>
                          <td>COMP4128 - Programming Challenges</td>
                          <td>COMP6441 - Security Engineering and Cyber Security</td>
                          <td>COMP9243 - Distributed Systems</td>
                        </tr>
                        <tr>
                          <td>COMP3141 Software - System Design and Implementaion</td>
                          <td>COMP411 - Theory of Computation</td>
                          <td>COMP6443 - Web Application Security and Testing</td>
                          <td>COMP9313 - Big Data Management</td>
                        </tr>
                        <tr>
                          <td>COMP3151 - Foundations of Concurrency</td>
                          <td>COMP4161 - Advanced Topics in Software Verification</td>
                          <td>COMP 6445 - Digital Forensics</td>
                          <td>COMP9315 - Database Systems Implementation</td>
                         </tr>
                         <tr>
                         <td>COMP3153 Algorithmic Verification                            </td>
                          <td>COMP4336 - Mobile Data Networking</td>
                          <td>COMP6447 - System and Software Security Assessment</td>
                          <td>COMP9318 - Data Warehousing and Data Mining</td>
                         </tr>
                         <tr>
                            <td>COMP3161 Concepts of Programming Languages</td>
                            <td>COMP4337 - Securing Wireless Networks</td>
                            <td>COMP6448 - Security Engineering Masterclass</td>
                            <td>COMP9319 - Web Data Compression and Search
                                </td></tr>
                         <tr>
                                <td>COMP3211 Computer Architecture</td>
                                <td>COMP4418 - Knowledge Representation and Reasoning</td>
                                <td>COMP6449 - Security Engineering Professional Practice</td>
                                <td>COMP9321 -  Data Services Engineering
                                    </td></tr>
                         <tr>
                                <td>COMP3222 Digital Circuits and Systems</td>
                                <td>COMP4511 - User Interface Design and Construction</td>
                                <td>COMP6451 - Cryptocurrency and Distributed Ledger Technologies</td>
                                <td>COMP9322 - Software Service Design and Engineering
                                    </td></tr>
                         <tr>
                                <td>COMP3231 Operating Systems</td>
                                <td>CONP4601 - Design Project B</td>
                                <td>COMP6714 - Information Retrieval and Web Search</td>
                                <td>COMP9323 - Software as a Service Project
                                    </td></tr>
                         <tr>
                                <td>COMP3331 - Computer Networks and Applications</td>
                                <td>COMP4920 - Management and Ethics</td>
                                <td>COMP6733 - Internet of Things Experimental Design Studio</td>
                                <td>COMP9332 - Network Routing and Switching
                                    </td></tr>
                         <tr>
                                <td>COMP3311 - Database Systems</td>
                                <td>COMP4930 - Thesis Part A</td>
                                <td>COMP6741 - Parameterized and Exact Computation</td>
                                <td>COMP9334 - Capacity Planning of Computer Systems and Networks</td>
                         </tr>
                         <tr>
                                <td>COMP3411 - Artificial Intelligence</td>
                                <td>COMP4931 - Thesis Part B</td>
                                <td>COMP6752 - Modelling Concurrent Systems</td>
                                <td>COMP9417 - Machine Learning and Data Mining</td>
                         </tr>
                      </tbody>

              </table>
                </div>
            </div>
        </div>
