<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Forecast</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="col-lg-6 left">
            <p>
                Calendar
            </p>
        </div>


        <div class="col-sm-12 right">
            <p>
                right pannel
            </p>
        </div>

    </body>
</html>