<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../main.js"></script>
    <title>Forecast</title>
  </head>
  <body>
    <div class="container-fluid" id="header">
      <h1 class="display-4">Forecast</h1>
    </div>
    <div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">UNSW Degree Planner </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="home.html">Home</a>
            <a class="nav-item nav-link" href="#">About</a>
            <a class="nav-item nav-link" href="courselist.html">Course List</a>
          </div>
        </div>
      </nav>
    </div>
  </div>

    <div class="row">
    <div class="container-fluid">
      <div class="col-sm-7" id="calendar">
         <h2>  Calendar </h2>
         <h4> 2019 </h4>
           <table class="table table-hover">
             <thead>
               <tr>
                 <th>T1</th>
                 <th>T2</th>
                 <th>T3</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <td>COMP1511</td>
                 <td>COMP2521</td>
                 <td></td>
               </tr>
               <tr>
                 <td>MATH1081</td>
                 <td>COMP1521</td>
                 <td></td>
               </tr>
               <tr>
                 <td>ENGG1000</td>
                 <td>COMP1531</td>
                 <td></td>
               </tr>
             </tbody>
          </table>

      </div>
      <div class="col-sm-4 " id="courses">
         <h2>  Courses </h2>
         <!-- FOR LOOP IN FLASK TO PRINT ALL COURSES -->
         <ul class="list-group">
            <li class="list-group-item active">COMP1511</li>
            <li class="list-group-item">MATH1131</li>
            <li class="list-group-item">MATH1231</li>
            <li class="list-group-item">COMP1531</li>
            <li class="list-group-item">COMP1521</li>
          </ul>
      </div>
    </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>